# General
APP_NAME="acme"
NODE_ENV="development"
PORT="5001"
WEB_URL="http://localhost:5003"
API_URL="http://localhost:5001"

# POSTGRES
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="secret"
POSTGRES_DB="mydb"
POSTGRES_PORT="5002"
DATABASE_URL="postgresql://postgres:secret@localhost:5002/mydb"

# AUTH
BETTER_AUTH_SECRET="" # openssl rand -base64 48
BETTER_AUTH_URL="http://localhost:5001" #Base URL of your app
GITHUB_CLIENT_ID="Ov23liZBJK4VnfhROM3H"
GITHUB_CLIENT_SECRET="b472f0a85877ac3a20171bea764009b5cd3bb058"